input {
  padding: 8px;
  font-size: 17px;
  border-radius: 8px;
}

button {
  min-width: 180px;
  padding: 8px 10px;
  font-size: 18px;
  text-transform: capitalize;
  background-color: sandybrown;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: yellow;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: darkcyan;
}

td, th {
  border: 1px solid #dddddd;
}

a {
  color: #61dafb;
}

label {
  font-size: 25px;
}

p {
  margin: 8px;
}

.mt-20 {
  margin-top: 25px;
}

.ml-20 {
  margin-left: 25px;
}

.center {
  justify-content: center;
}

.flex {
  display: flex;
}

.App {
  padding: 20px;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.desc {
  color: red;
  font-size: 17px;  
}

.call-btn {
  background-color: red;
  text-transform: uppercase;
  font-weight: 900;
}